
        <!-- jQuery  -->
        <script th:src="@{/resources/admin/assets/js/jquery.min.js}"></script>
        <script th:src="@{/resources/admin/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/admin/assets/js/detect.js}"></script>
        <script th:src="@{/resources/admin/assets/js/fastclick.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/resources/admin/assets/js/waves.js}"></script>
        <script th:src="@{/resources/admin/assets/js/wow.min.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.scrollTo.min.js}"></script>

        <script th:src="@{/resources/admin/assets/plugins/peity/jquery.peity.min.js}"></script>

        <!-- jQuery  -->
        <script th:src="@{/resources/admin/assets/plugins/waypoints/lib/jquery.waypoints.js}"></script>
        <script th:src="@{/resources/admin/assets/plugins/counterup/jquery.counterup.min.js}"></script>



        <script th:src="@{/resources/admin/assets/plugins/morris/morris.min.js}"></script>
        <script th:src="@{/resources/admin/assets/plugins/raphael/raphael-min.js}"></script>

        <script th:src="@{/resources/admin/assets/plugins/jquery-knob/jquery.knob.js}"></script>

        <script th:src="@{/resources/admin/assets/pages/jquery.dashboard.js}"></script>

        <script th:src="@{/resources/admin/assets/js/jquery.core.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.app.js}"></script>
     